<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
  <property name="hibernate.connection.password">123456</property>
  <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=db_exam</property>
  <property name="hibernate.connection.username">sa</property>
  <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">false</property>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/common/bean/TStudent.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/common/bean/TTeacher.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/common/bean/TUser.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/question/bean/TCourse.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/question/bean/TMachineTest.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/question/bean/TWrittenTest.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/classinfo/bean/TClassInfo.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/paper/bean/PaperClass.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/paper/bean/TPaper.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/paper/bean/PaperWritten.hbm.xml"/>
  <mapping resource="com/qhit/lh/gr3/cyh/exam/examScores/bean/TUserScores.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
